$border: 1px;
$wfull: 100%;
$whalf: 50%;
$wquarter: 25%;
$hfull: 100%;
$hhalf: 50%;
$hquarter: 25%;

.container_header {
	color: #fff;
	background-color: #2c3e50;
	border: $border;
	padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	flex-flow: row;
}

.container_header div {
	padding: 20px;
	width: 5%;
	flex-grow: 1;
}

.container_header div:nth-child(1) {
	flex-grow: 7;
	float: left;
}
.container_header div:nth-child(2) {
	flex-shrink: 7;
	
}
.container_person {
	color: #fff;
	background-color: #18bc9c;
	border: $border;
	padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.container_person div:nth-child(1) {
	padding: 30px;
	flex: 0 0 100%;
}

#person {
	width: auto;
	height: auto;
}

.container_person div:nth-child(2) {
	padding: 0;
	flex: 0 0 100%;
}

.whitestar{
	width: 30%;
	height: 30%;
}

.container_portfolio {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.container_portfolio div:nth-child(1) {
	flex: 0 0 100%;
	color: #2c3e50;
	background-color: #fff;
	border: $border;
	padding: 0;
	margin: 10px;
	text-align: center;
}

.blackstar {
	width: 30%;
	height: auto;
}

.container_picture {
	color: #fff;
	background-color: #fff;
	border: $border;
	padding: 0;
	margin: 10px;
	justify-content: space-between;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	margin: auto;
	width: 60%;
}

.container_picture div {
	float: right;
	width: 300px;
}

.picture_portfolio {
	width: $wfull;
	height: $hfull;
}

.container_about {
	color: #fff;
	background-color: #18bc9c;
	border: $border;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	text-align: center;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.container_about div:nth-child(1) {
	padding: 30px;
	flex: 0 0 100%;
}

.container_about div:nth-child(2) {
	order: 1;
	padding: 0;
	float: left;
	text-align: right;
	flex: 0 0 50%;
	border: 0;
}

#textleft {
	text-align: left;
	margin-left: 53%;
}

.container_about div:nth-child(3) {
	order: 2;
	float: left;
	text-align: left;
	flex: 0 0 50%;
	border: 0;
}

#textright {
	text-align: left;
	margin-right: 50%;
}

.container_about div:nth-child(4) {
	order: 3;
	float: center;
	flex: 0 0 100%;
	border: 0;
}

#download {
	margin: 50px;
	border: 2px solid #fff;
	border-radius: 5px;
	width: 15%;
	height: auto;
}

.container_contact {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	color: #2c3e50;
	background-color: #fff;
	border: $border;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	text-align: center;
}

.container_contact div:nth-child(1) {
	padding: 30px;
	flex: 0 0 100%;
}
.container_contact div:nth-child(2) {
	padding: 0;
	flex: 0 0 100%;
}
.container_contact div:nth-child(3) {
	padding: 0;
	flex: 0 0 100%;
}
.container_contact div:nth-child(4) {
	padding: 0;
	flex: 0 0 100%;
}
.container_contact div:nth-child(5) {
	padding: 0;
	flex: 0 0 100%;
}

.inputtext {
	font-size: 24px;
	width: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
}

#greenbutton {
	color: #fff;
	width: 100px;
	height: 60px;
	float: left;
	margin-left: 20%;
	margin-top: 10px;
	margin-bottom: 100px;
	background-color: #18bc9c;
	border-radius: 5px;
	border: 0;
}

.line {
	width: 60%;
}

.container_location {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	color: #fff;
	background-color: #2c3e50;
	border: $border;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	text-align: center;
}

.container_location div:nth-child(1) {
	padding-top: 60px;
	padding-bottom: 60px;
	flex: 0 0 33%;
	border: 0;
}

.container_location div:nth-child(2) {
	padding-top: 60px;
	padding-bottom: 60px;
	flex: 0 0 34%;
	border: 0;
}

.container_location div:nth-child(3) {
	padding-top: 60px;
	padding-bottom: 60px;
	flex: 0 0 33%;
	border: 0;
}

#greenspan {
	color: #18bc9c;
}

.container_copyright {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	color: #fff;
	background-color: #1a252f;
	border: $border;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	text-align: center;
}

.container_copyright div:nth-child(1) {
	padding: 30px;
	flex: 0 0 100%;
}